.username {
color: #DDD !important;
font-size: 16px !important;
margin-right: 32px !important;
line-height: 48px !important;
font-style: italic !important;
cursor: pointer !important;
}

.pos-topheader img {
padding: 2px 8px 0px 0px !important;
float: left !important;
height: 35px !important;
margin-top: 2px !important;
width: auto !important;

}
